<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Tutoriel Quintus !</title>
		<!-- Une petite couche de peinture… -->
		<link rel="stylesheet" href="app/assets/stylesheets/demo.css" />
	</head>
	<body>
		<h1>Tutoriel Quintus</h1>

		<h2>Sommaire</h2>
		
	</body>
</html>