<h1>Mon super jeu</h1>


<canvas id="game" width="600" height="800">
	<p lang="fr">Votre navigateur ne supporte pas la balise canvas.</p> <!-- Un petit message pour les dinosaures -->
</canvas>
<p style="text-align: right"><a href="./partie5.html">Partie 5 →</a></p>

