.container {
}

body {
}

header {
}

header img {
  padding: 1em;
}

section {
  margin-top: 1em;
  font-size: 120%;
}

section h1 {
}

/* Liens */

a {

  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
}