<header>
	<%= image_tag("savetheblonde.jpg", :alt => "Save the blonde", :class => "round") %>
	<nav class="round">
		<ul>
			<li><%= link_to "Accueil", root_path %></li>
			<li><%= link_to "Inscription", '#' %></li>
		</ul>
	</nav>
</header>